<div class="container">
    <h3 style="color: rgba(255, 255, 255, 0.85);">  Welcom back. Here are some statistics for you</h3>
    <br>
    <div class="stats">
      <br>
        <p> Number of Sub-Admins accounts : </p>
        <table>
            <thead>
                <th style="color: rgba(255, 255, 255, 0.85);">Orange accounts</th>
                <th style="color: rgba(255, 255, 255, 0.85);">Ooredoo accounts</th>
                <th  style="color: rgba(255, 255, 255, 0.85);">Telecom accounts</th>
            </thead>
            <tbody>
                <tr>
                    <td style="color: rgba(255, 255, 255, 0.85);">{{orangeNumber}}</td>
                    <td style="color: rgba(255, 255, 255, 0.85);">{{ooredooNumber}}</td>
                    <td style="color: rgba(255, 255, 255, 0.85);">{{telecomeNumber}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>Number of created KPIs => <span class="span">{{kpiNumber}} </span></p>
        <p>Number of Alert Types => <span class="span"> {{typesNumber}} </span></p>
        <p> Number of Complaints => <span class="span">{{complaintsNumber}} </span></p>
    </div>
</div>
<br><br>
<footer >
    <div class="foo">
        <h6>Chouaibi Marwen: Graduation project <i class="material-icons" style="margin-bottom: 12px;">copyright</i>All rights reerved 2021</h6>
    </div>

</footer>